{% extends 'base.html' %}

{% block content %}

<div class="container my-4">
    <div class="jumbotron text-center bg-light p-5 rounded">
        <h1 class="display-4 text-primary">Welcome to CarMarket</h1>
        <p class="lead">Buy and sell vehicles with ease. Explore thousands of listings or create your own!</p>
        <div class="d-flex justify-content-center gap-3">
            <a href="{% url 'vehicle_list' %}" class="btn btn-primary btn-lg">Browse Vehicles <i class="bi bi-arrow-right"></i></a>
            {% if user.is_authenticated %}
                <a href="{% url 'vehicle_create' %}" class="btn btn-success btn-lg">List Your Vehicle</a>
            {% endif %}
        </div>
    </div>
</div>


{% endblock %}